# Node
node_modules/
.pnpm-store/
.next/
out/

# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/

# Local env
.env
.env.local

# OS
.DS_Store

design.md
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl